#pokedexContainer {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: gray;
    min-height: 100vh;
    min-width: 100vw;
}
#pokedex {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 7fr;
    background-color: #FF0000;
    border-radius: 10px;
    margin-bottom: 10%;
}
#pokedexRight {
    grid-row: 2;
    grid-column: 3;
    background-color: #FF0000;
    margin-bottom: 10%;
}
#pokedexTop {
    grid-row: 1;
}
#pokedexBottom {
    grid-row: 2;
    display: grid;
    grid-template-rows: 2fr 1fr;
}
#pokedexScreenContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 1;
    background-color: grey;
    border-color: blanchedalmond;
    border-width: 10px;
    border-style: solid;
    min-width: 80%;
    min-height: 100%;
    margin: auto;
}
#pokedexScreenTop {
    grid-row: 1;
}
#pokedexScreenTop, #pokedexScreenBottomLeft, #pokedexScreenBottomRight, #pokedex, #pokedexRight, #pokedexAttack, #pokedexDefense, #pokedexSpeed, #pokedexSPAttack, #pokedexSPDefense, #pokedexType1, #pokedexType2, #pokedexOGRegion {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
#pokedexScreenBottomContainer {
    grid-row: 2;
}
#pokedexAttack {
    grid-row: 1;
}
#pokedexDefense {
    grid-row: 2;
}
#pokedexSpeed {
    grid-row: 3;
}
#pokedexSPAttack {
    grid-row: 4;
}
#pokedexSPDefense {
    grid-row: 5;
}
#pokedexScreenBottomContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#pokedexScreenBottomLeft {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1;
}
#pokedexScreenBottomRight {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-column: 2;
}
#pokedexType1 {
    grid-row: 1;
}
#pokedexType2 {
    grid-row: 2;
}
#pokedexOGRegion {
    grid-row: 3;
}
#pokedexTopBigGreenButton {
    background-color: blue;
    border-radius: 90%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    min-width: 50px;
    min-height: 50px;
    margin: 5px;
}
#pokedexTopLittleRedButton, #pokedexTopLittleYellowButton, #pokedexTopLittleGreenButton {
    border-radius: 90%;
    min-width: 20px;
    min-height: 20px;
    align-self: center;
}
#pokedexTopLittleRedButton {
    background-color: red;
}
#pokedexTopLittleYellowButton {
    background-color: yellow;
}
#pokedexTopLittleGreenButton {
    background-color: green;
}
#pokedexButtons {
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#pokedexDirectionals {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#pokedexDirectionals button {
    background-color: black;
}
#pokedexDirectionalLeft {
    grid-row: 2;
    grid-column: 1;
}
#pokedexDirectionalUp {
    grid-row: 1;
    grid-column: 2;
}
#pokedexDirectionalRight {
    grid-row: 2;
    grid-column: 3;
}
#pokedexDirectionalDown {
    grid-row: 3;
    grid-column: 2;
}
#pokedexDirectionalDummy {
    grid-row: 2;
    grid-column: 2;
}
#pokedexButtonsLeft {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}
#pokedexStart, #pokedexSelect {
    width: auto;
    height: 15px;
    border-radius: 20%;
    grid-row: 1;
}
#pokedexMiniScreenLeft {
    background-color: green;
    grid-row: 2;
    grid-column: 1 / 4;
}
#pokedexStart {
    background-color: red;
    grid-column: 2;
}
#pokedexSelect {
    background-color: blue;
    grid-column: 3;
}
#pokedexBlackButton {
    grid-column: 1;
    grid-row: 1;
    background-color: black;
    border-radius: 50%;
}